<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Automation Suite"><!-- u can give our own name -->

<!-- defining the listener at suite level, so that TestNG automatically provides retry logic to failure test cases -->
<listeners>
	<listener class-name = "Analyzer.MyTransformer"/>
</listeners>

  <test name="Retry Logic test">
 
    <classes>
    
       <class name ="com.qa.tests.MyTest" />
       
    </classes>
  </test> 
</suite>